.VacationsList > a {
    position: fixed;
    top: 60px;
    right: 10px;
}

.VacationsList {
    padding: 0;
    margin: 10px;
}

.pagination{
    width: 100%;
    height: 40px;
    list-style: none;
    display:flex ;
    justify-content: center;
}

.pagination a{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 50px ;
    border: 1px solid white;
    color:white;
    cursor: pointer;
}

.pagination a:hover{
    color: black;
    background-color:white;
}


.paginationActive a{
    color: black;
    background-color: white;
}